Source: watchtv
Priority: optional
Maintainer: Jane Doe <jane.doe@openmailbox.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Section: misc
Homepage: http://github.com/jadoe/watchtv

Package: watchtv
Architecture: all
Depends: mpv | mplayer,
         gnupg, 
         wget,
         libav-tools,
         ${misc:Depends}
Suggests: tvbrowser,
         whiptail
Description: Watch and record HDTV streams
 Simple program to watch and record HDTV streams: 
  * No additional ads
  * No flash nor web browser required
  * Play'n'Pause and seeking back in live stream
  * Schedule recordings with cron

